.NavBar {
    position: fixed;
    top: -5px;
    left: 0;
    width: 100vw;
    padding: 10px 0;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
    z-index: 1;
    background-color: var(--iavBlack);
    max-height: 35px;
}

.NavBar h1 {
    margin: -5px;
    color: var(--iavLightBlue);
    font-weight: 600;
    font-style: italic;
}