.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    height: 50px;
}

.navbar > * {
    margin-top: -11px;
}

.navbarcontainer {
    display: flex;
    width: 85%;
    margin: auto;
    overflow: hidden;
    justify-content: center;
}

@media (max-width: 991px) {
    .custom-collapse {
        background-color: #010202;
        text-align: right;
    }
    .custom-collapse .me-3 {
        margin-right: 0; /* Remove right margin */
    }
}

.custom-dropdown-menu .dropdown-menu {
    background-color: blue;
}

.cinzel-400 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal
}

.navbar-brand {
    font-size: 30px !important;
    font-family: "Cinzel", serif;
}

#navbar a {
    padding: 0px 1px;
    font-size: 18px;
    color: #FAFEFF;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
#navbar a:hover {
    color: #E29F03;
    transition: 300ms;
}
#navbar .navbar-brand:hover {
    transform: scale(105%);
    transition: 300ms;
}
#navbar .active {
    color: #84879a;
}
#navbar .active:hover {
    transform: scale(100%);
    color: #84879a;
}
#functionalspacer {
    height: 40px;
}
@media (max-width: 1200px) {
    #navbar .smallify {
        font-size: 14px;
    }
}
@media (max-width: 600px) {
    #navbar ul {
        padding-top: 10px;
    }
    #navbar li {
        padding: 1px 0px;
    }
    #functionalspacer {
        height: 50px;
    }
}
@media (min-width: 650px) {
    .belownavbar {
        height: 100px;
    }
}
@media (max-width: 649px) {
    .navbar-brand {
        font-size: 30px !important;
    }
    .belownavbar {
        height: 1px;
    }
}