.text-page {
    margin-top: 75px;
    width: 100vw;
    height: calc(100vh - 75px);
    color: white;
}

.model-page {
    margin-top: 75px;
    height: 100vw;
    width: 100vw;
    color: white;
}

@media (max-width: 991px) {
    .model-page{
        height: calc(100vh - 75px);
    }
}

.text-page p {
    font-size: 2rem;
}

.model-container-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.model-container {
    display: flex;
    border-radius: 15px;
    margin: 10px 0;
    min-height: 70px;
    width: 80vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ava-container {
    background-color: #800020;
}

.trinidad-container {
    background-color: #1b3101;
}

.vana-container {
    background-color: #010231;
}

.kasi-container {
    background-color: #341102;
}

.model-image {
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    height: 100%;
    transition: transform 0.75s ease;
}

.model-image:hover {
    transform: scale(1.1);
}

.model-details {
    padding: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}